:root {  --sidebar-bg-color: #343a40;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: var(--sidebar-bg-color);
  color: #fff;
  transition: all 0.3s;
  overflow: auto;
  z-index: 9999;
  display: none;
  width:0px


}
#sidebar.active {
  width: auto;
  height: 100vh;
  position: fixed;
  min-width: 200px;
  height: 100%;
  overflow: auto;
  min-width: 250px;
  max-width: 250px;
  display: block;
}

#sidebar .sidebar-header strong {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}
.sidebar-header {
  padding: 10px;
  background: var(--sidebar-bg-color);
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: .8em;
  display: block;
}
#sidebar ul li a:hover {
  color: #000;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #000;
}
ul ul a {
  font-size: 0.8em !important;
  padding-left: 30px !important;
  background: var(--sidebar-bg-color);
}



div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 100%
}

@media screen and (max-width: 700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  #sidebar a {
    text-align: center;
    float: none;
  }
}

.footer {
  position: fixed;
  bottom: 0;
}

#divalert {
    position: fixed;
    background-color: rgb(202, 179, 218);
    z-index: 500;
    right: 10px;
}

pre {
  white-space: pre-wrap;
}

.console {
  position: relative;
  top: 20%;
  left: 1%;
  min-height: 50%;
  max-height: 80%;
  width: 80%;
  background-color: rgb(5, 5, 5);
  overflow-y: scroll;
}

.console pre {
  padding: 5px;
  color: rgb(47, 255, 147);
}