extends layout

block content
  h1= title

  .container
    .row
      .col
        ul.list-group#list_accounts
          each val,index in accounts
            li.align-middle.list-group-item= val.username + " role:"+ val.role 
              button.float-right.btn.btn-sm.btn-primary.btn-edit-account("id"= index) Edit
              button.float-right.btn.btn-sm.btn-primary.btn-delete-account("id"= index) Remove
      .col.d-none#div_edit
        h5 Edition
        form#form_account_edit
            .form-group
                label("for"="id") id
                input.form-control(type="string", name="id" ,id="form_input_id", value = "")
                label("for"="id") username
                input.form-control(type="string", name="username" ,id="form_input_username", value = "")
                label("for"="hashpassword") hashpassword
                input.form-control(type="hashpassword", name="hashpassword" ,id="form_input_hashpassword", value = "")
                label("for"="Role") Role
                input.form-control(type="role" ,name="role" ,id="form_input_role", value = "")
                label("for"="Token") Token
                input.form-control(type="token" ,name="token" ,id="form_input_token", value = "")
                button.btn.btn-primary(type="submit") Modifier
      .col.d-none#div_add
        h5 Create
        form#form_account_add
            .form-group
                label("for"="username") username
                input.form-control(type="string", name="username" ,id="form_input_username", value = "")
                label("for"="password") Password
                input.form-control(type="password", name="password" ,id="form_input_password", value = "")
                label("for"="Role") Role
                input.form-control(type="role" ,name="role" ,id="form_input_role", value = "")
                label("for"="Token") Token
                input.form-control(type="token" ,name="token" ,id="form_input_token", value = "")
                button.btn.btn-primary(type="submit") Ajouter
    .row
      .col
        button.btn.btn-sm.btn-primary#btn-add-account Add

block debug  
  = JSON.stringify(accounts)

block endscript
  script(type='text/javascript').
    var accounts =  !{JSON.stringify(accounts)}
    $(document).ready(function () {
       $(".form-control").on("change",function(event){
          $("#debug").empty().append($(this).attr("id")+":"+$(this).val())
       })
      $(".btn-edit-account").on("click",function(event){
        index= parseInt($(this).attr('id'), 10)
        $("#form_input_id").val(accounts[index].id)
        $("#form_input_username").val(accounts[index].username)
        $("#form_input_hashpassword").val(accounts[index].hashpassword)
        $("#form_input_role").val(accounts[index].role)
        $("#form_input_token").val(accounts[index].token)

        $("#div_edit").removeClass('d-none')
      })
      $("#btn-add-account").on("click",function(event){
        $("#form_input_username").val("")
        $("#form_input_password").val("")
        $("#form_input_role").val("")
        $("#form_input_token").val("")

        $("#div_add").removeClass('d-none')
      })
      $(".btn-delete-account").on("click",function(event){
        event.preventDefault();
        index= parseInt($(this).attr('id'), 10)
        $.ajax({
            method: "DELETE",
            url: "/account",
            data: accounts[index]
        }).done((data)=>{
          $("#debug").empty().append(JSON.stringify(data))
           window.location.href = '/accounts';
        })
      })
      
      $( "#form_account_edit" ).submit(function( event ) {
        event.preventDefault();
        var data = $(this).serializeFormJSON();
        $.ajax({
            method: "POST",
            url: "/account/update",
            data: data
          }).done(function(result) {
            if(result.err){
              alert(JSON.stringify(err))
              $("#debug").empty().append(JSON.stringify(result))
            }else{
            window.location.href = '/accounts';
            }
          });
      });
      $( "#form_account_add" ).submit(function( event ) {
        event.preventDefault();
        var data = $(this).serializeFormJSON();
        $.ajax({
            method: "POST",
            url: "/account",
            data: data
          }).done(function(result) {
            if(result.err){
              alert(JSON.stringify(err))
            } else {
              $("#debug").empty().append(JSON.stringify(data))
              window.location.href = '/accounts';
            }
          });
      });
    });