extends layout

block content
  h1= title
  
  h1 
    span#mname
  label(for="metric") Metriques
  select#metrics
  #chart01

block endscript
  script(type="text/javascript"). 
    var options = {
      chart: {
          animations: {
            enabled: false,
          },
        height: 380,
        width: "100%",
        type: "area", 
      },
      series: [],
      xaxis: {
        type: "datetime"
      },
      noData: {
        ext: 'Loading...'
      }
    };
    var chart = new ApexCharts(document.querySelector("#chart01"), options);
    chart.render();
    function getmetrics(){
      $.ajax({
        method: "GET",
        url: "/api/metrics",
        dataType: "json"
      }).done(function(data){
        for(d in data){
          $("#metrics").append('<option value=' + data[d] +'>'+data[d]+'</option>')
        }
      })
    }
    function getdata(name){
      $.ajax({
        method: "GET",
        url: "/api/metric/graph/"+name,
        dataType: "json"
      }).done(function(data){
        chart.updateSeries([{name:name, data:data}])
      })
    }
    $(document).ready(function(){
      getmetrics()
      $( "#metrics" ).change(function() {
        str=$( "#metrics option:selected" ).text()
        $("#mname").empty().append(str) 
        getdata(str)
      });
      getdata("data01")
    });




