nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
    div.container-fluid
        button#sidebarCollapse.btn.btn-dark.btn-sm( type="button")
            svg#sidebaricon.bi(width="24" ,height="24" ,fill="currentColor")
                use(xlink:href="/bootstrap-icons.svg#caret-left")
        if user
            p Connecté en tant que 
                span= user.username
        unless user
            p Non Connecté
        div#navbar.navbar-expand-lg
            ul.nav.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href="/") 
                        svg.bi(width="24" ,height="24" ,fill="currentColor")
                            use(xlink:href="/bootstrap-icons.svg#house-door-fill")
                unless user
                    li.nav-item.active
                        a.nav-link(href="/signup")
                            svg.bi(width="24" ,height="24" ,fill="currentColor")
                                use(xlink:href="/bootstrap-icons.svg#person-plus-fill")
                unless user
                    li.nav-item.active
                        a.nav-link(href="/login")
                            svg.bi(width="24" ,height="24" ,fill="currentColor")
                                use(xlink:href="/bootstrap-icons.svg#arrow-bar-up")
                if user
                    li.nav-item.active
                        a.nav-link(href="/logout")
                            svg.bi(width="24" ,height="24" ,fill="currentColor")
                                use(xlink:href="/bootstrap-icons.svg#x-square-fill")