extends layout

block content
  h4
    .row
      .col-1
        svg.border.border-dark.rounded.bi(width="42px" ,height="42px" ,fill="currentColor")
          use(xlink:href="/bootstrap-icons.svg#house-door-fill")
      .col-11
        span= title
    hr
    h1 Application de demos 


block endscript
