extends layout

block content
  h2 #{title}
  if message != ''
    .alert.alert-error #{message}
  form(method='POST' action='/signup')
    div.form-group
      label(for='username') Compte:
      input#username.form-control(type='text', placeholder='login', name='username' ,required)
    div.form-group
      label(for='password') Mot de passe:
      input#password.form-control(type='password', placeholder='password' ,name='password' ,required)
    div
      input.btn.btn-primary(type="submit", value="Register")


  .footer
    p Debug
    pre
      code#debug  
        = JSON.stringify(accounts)

block endscript